
doctype html
html
    head
        style
            include style.css
    body
        div
            | WELCOME TO OUR BEAUTY BOUTIQUE STORE,
            strong MAKEUP SHOP:
            | !
            br
            | HERE YOU WILL FIND HEALTH & BEAUTY PRODUCTS
            br
            | MAKEUP SHOP is a family owned beauty boutique Store. Inspired by our beautiful daughters, MAKEUP SHOP started as a Girls Fashion boutique.
            | Products our family and friends love and use often, we are glad to share the secret to the world.
        div
            block content
        div.footer
            | Best regards
